.menu-catering-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-catering-title {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #9B6868;
}
