.primary-button {
    color: white;
    background-color: #9B6868;
    border: none;
    font-size: 1.25rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    font-family: inherit;
    cursor: pointer;
    z-index: 10;
}

.primary-button:hover {
    background-color: rgb(180, 133, 133);
}

.secondary-button {
    color: #9B6868;
    background-color: #FCF3E2;
    border: none;
    font-size: 1.25rem;
    padding: 0.65rem 1.15rem;
    border-radius: 0.5rem;
    font-family: inherit;
    cursor: pointer;
    z-index: 10;
}

.secondary-button:hover {
    background-color: #E9CF9C;
}
