.our-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.where-it-all-began-container, .about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-container {
    margin-top: -4rem;
    text-align: end;
}

.our-story-title {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #9B6868;
}


.where-it-all-began-text-container, .about-us-text-container {
    padding-bottom: 4rem;
}

.where-it-all-began-text {
    width: 40rem;
    color: #535353;
}

.about-us-text {
    width: 38rem;
    color: #535353;
}

.where-it-all-began-image-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.about-us-image-container {
    height: 100%;
    display: flex;
    align-items: start;
    margin-top: 4.5rem;
}

.where-it-all-began-image {
    height: 22rem;
    margin-right: -4rem;
}

.about-us-image {
    height: 22rem;
}

.our-story-visual-spacer {
    width: 100%;
}

.testimonials-subheader {
    color: #535353;
    margin-top: -2rem;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 2rem 0 4rem 4rem;
}

.testimonials-carousel {
    width: 65rem;
}
