.find-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-us-contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../transparent_background_logo.png") #9B6868;
}

.find-us-title {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #E9CF9C;
}

.previous-events-title {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #9B6868;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9B6868;
}

.footer-copyright-text {
    color: #FCF3E2;
}
