html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lora', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("transparent_background_logo.png") #FCF3E2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
