.menu-catering-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-catering-top-container {
    display: flex;
    align-items: center; 
}

.menu-catering-title {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #9B6868;
    margin-bottom: 2rem;
}

.bike-illustration-image {
    width: 7.5rem;
    height: fit-content;
    margin-left: -1rem;
}

.download-menu-button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.menu-catering-spacer {
    height: 3rem;
}

.more-coming-soon-banner {
    width: 28rem;
}

.more-coming-soon-text {
    font-family: 'Ephesis', cursive;
    font-size: 2.5rem;
    color: #9B6868;
    margin-top: -3.75rem;
    margin-left: 4rem;
}

.catering-inquiry-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: url("../../transparent_background_logo.png") #9B6868;
}

.catering-inquiry-form-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.catering-inquiry-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.catering-inquiry-form-spacer {
    height: 4rem;
}

.catering-inquiry-title {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #E9CF9C;
    margin-bottom: 1rem;
}

.catering-inquiry-text {
    color: #F1E7D2;
    font-size: large;
}

.submit-button-container {
    margin-top: 2rem;
    margin-right: -2rem;
}

.menu-catering-visual-spacer {
    height: auto;
    width: 100%;
}

.faqs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.faqs-title {
    margin-bottom: 0;
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #9B6868;
}

.faq-subsection {
    margin-bottom: 2rem;
}

.faq-subtitle {
    margin: 2rem 0;
    font-size: large;
    font-weight: bold;
    color: #9B6868;
}

.accordion-title {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: large;
    color: #545555;
}
